@charset "UTF-8";
/* CSS Document */
body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	background-image: url(bd.jpg);
  	background-repeat: no-repeat, repeat;
	background-size: cover;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

